* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container-pedido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-pedido h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    font-family: 'Winner Sans Bold';
    font-size: 40px;
}

.abas {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

.botao-aba {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #A41113;
    color: #DAA520;
    border: none;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.botao-aba:hover {
    background-color: #C0171A;
    color: #FAE311;
}

.botao-aba.ativo {
    background-color: #C0171A;
    color: #FAE311;
}

.secao-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    background-color: #C0171A;
    padding: 20px;
    padding-right: 0;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 150px;
}

.item-menu {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    min-height: 280px;
    border: 1px solid #eee;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white;
}

.imagem-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    border-radius: 4px;
}
.imagem-item.agua-gas {
    width: 40%;
    height: 200px;
    margin: 0 auto;
}

.item-menu h3 {
    margin-top: 0;
    color: #000;
    margin-bottom: 10px;
}

.item-menu p {
    color: #222222;
    font-size: 14px;
    margin: 5px 0;
    flex-grow: 1;
}

.selecionar-tamanho {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
}


.selecionar-sabor {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.preco {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: #e74c3c;
}

.adicionar-carrinho {
    background-color: #DAA520;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    font-size: 18px;
}

.adicionar-carrinho:hover {
    background-color: #a77e18;
}

.resumo-pedido {
    background-color: #383838;
    color: white;
    padding: 15px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    min-width: 250px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    box-sizing: border-box;

}

.resumo-pedido h3 {
    margin-top: 0;
    border-bottom: 2px solid #505050;
    padding: 0 50px 5px 50px;
    color: White;
}

#contador-itens, #valor-total {
    margin: 5px 0;
}

#valor-total {
    font-weight: bold;
    font-size: 1.1em;
}

.botao-limpar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
    width: 230px;
    font-weight: bold;
}

.botao-limpar:hover {
    background-color: #c0392b;
}

/* footer {
    margin-top: 1000px;
} */













@media (max-width: 900px) {
    .item-menu {
        width: calc(50% - 15px);
    }
}

@media (max-width: 600px) {
    .item-menu {
        width: 100%;
    }
    
    .abas {
        flex-direction: column;
    }
    
    .botao-aba {
        border-radius: 4px;
        margin-bottom: 5px;
    }
}