* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

header {
    width: 100%;
    height: 60px;
    background-color: #AE090C;
    display: flex;
    align-items: center;

}
header .container-logo,nav,.facaSeuPedido {
    display: flex;
    align-items: center;
}


header .container-logo {
    width: 25%;
    height: 60px;
}
.container-logo a {
    display: flex;
    align-items: center;
    height: 100%;
}
header .container-logo .logo {
    height: 50px;
    margin-left: 10px;
}

nav {
    width: 50%;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 90%;   /* precisa ter largura para funcionar */
}
nav ul li {
    font-family: 'Winner Sans Bold';
    font-size: 17px;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: #FAE311;
    transition: 0.2s ease-in-out;
}
nav ul li a:hover {
    color: #DAA520;
}

.facaSeuPedido {
    width: 25%;
    justify-content: flex-end;
    padding-right: 32px;
}
header .facaSeuPedido a {
    text-decoration: none;
    color: #FAE311;
    font-family: 'Winner Sans Extra Bold';
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    transition: 0.2s ease-in-out;
}
header .facaSeuPedido a:hover {
    color: #DAA520;
}