/* Winner Sans Bold */
@font-face {
  font-family: 'Winner Sans Bold';
  src: url('./WinnerSans-Bold.otf') format('opentype');
}

/* Winner Sans Extra Bold */
@font-face {
  font-family: 'Winner Sans Extra Bold';
  src: url('winner-extra-bold.ttf') format('truetype');
}